{{ 'sections-cards.css' | asset_url | stylesheet_tag }}
<section class="container-section-cards">
    {%- for block in section.blocks -%}
        <div class="card">
            <img class="img-card" src="{{ block.settings.image_card | img_url: 'master' }}" alt="" srcset="">
            <div class="info-card">
                <h3 class="title-card">{{ block.settings.title_card }}</h3>
                <p class="description-card">{{ block.settings.sub_title_card }}</p>
                <a class="btn-card" href="{{ block.settings.link_btn_card }}">{{ block.settings.text_btn_card }}</a>
            </div>
        </div>
    {% endfor %}
</section>
{% schema %}
{
    "name": "sections-cards",
    "blocks": [
        {
            "type": "card",
            "name": "card",
            "settings": [ 
                {
                    "type": "image_picker",
                    "id": "image_card",
                    "label": "Image Card"
                },
                {
                    "type": "text",
                    "id": "title_card",
                    "label": "Title card"
                },
                {
                    "type": "text",
                    "id": "sub_title_card",
                    "label": "Description card"
                },
                {
                    "type": "text",
                    "id": "text_btn_card",
                    "label": "Text btn card"
                },
                {
                    "type": "url",
                    "id": "link_btn_card",
                    "label": "Link btn card"
                }
            ]
        }
  ],
  "presets": [
    {
      "category": "Content",
      "name": "sections-cards"
    }
  ]
}
{% endschema %}